<footer class="bg-white ">

    <div class="pb-4 text-center">
        <style>
            .heart {
                color: #e25555;
                font-size: 1.5rem;
            }
        </style>
        <p class="pt-3 lead">Made with <span class="heart">❤</span> by Aditya Wagh</p>
        <span>Find me at the links below!</span><br><br>
        
        <!-- Footer Icons -->
        <a class="px-2 py-2" href="https://github.com/{{ site.github_username }}" title="View my GitHub profile">
            <img src="/assets/icons/nav-icons/github-brands.svg" type="image/svg+xml" width="28px" height="28px">
            <i class="icon-github"></i>
        </a>

        <a class="px-2 py-2" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="View my LinkedIn profile">
            <img src="/assets/icons/nav-icons/linkedin-brands.svg" type="image/svg+xml" width="28px" height="28px">
        </a>

        <a class="px-2 py-2" href="https://twitter.com/{{ site.twitter_username }}" title="Tweet at me">
            <img src="/assets/icons/nav-icons/twitter-brands.svg" type="image/svg+xml" width="28px" height="28px">
        </a>

        <a class="px-2 py-2" href="mailto:aditya@adityawagh.ml" title="Email Me">
            <img src="/assets/icons/nav-icons/envelope-open-text-solid.svg" type="image/svg+xml" width="28px" height="28px">
        </a>

</footer>