<footer class="bg-white ">

    <div class="pb-4 text-center">
        <style>
            .heart {
                color: #e25555;
                font-size: 1em;
            }
        </style>
        <p class="pt-3">Made with <span class="heart">❤</span> by Aditya Wagh <br>© 2020 <br>Follow me!</p>

        <a class="px-2 py-2" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="View my LinkedIn profile">
            <i class="fab fa-linkedin" style="font-size: 2rem; color: #0077b5;"></i>
        </a>

        <a class="px-2 py-2" href="https://twitter.com/{{ site.twitter_username }}" title="Tweet at me">
            <i class="fab fa-twitter" style="font-size: 2rem; color: #55acee;"></i>
        </a>

        <a class="px-2 py-2" href="mailto:aditya@adityawagh.ml" title="Email Me">
            <i class="fas fa-at" style="font-size: 2rem;"></i>
        </a>

        <a class="px-2 py-2" href="https://github.com/{{ site.github_username }}" title="View my GitHub profile">
            <i class="fab fa-github" style="font-size: 2rem; color: #000;"></i>
        </a>

</footer>