<div>
    <h1 class="d-flex justify-content-start index-title">About Me</h1>
</div>
<div class="row mt-3">
    <div class="col-sm-auto text-center">
        <figure class="figure mt-1">
            <img class="figure-img rounded" id="myImg" src="assets/images/profile.webp" width="250px" height=auto
                alt="As you can see, I like to get insight into things">
            <figcaption class="figure-caption text-center">
                <ul class="list-inline mx-auto mt-2 mb-2">
                    <li class="list-inline-item mx-auto">
                        <a class="nav-link" href="https://github.com/{{ site.github_username }}"
                            title="View my GitHub profile">
                            <i class="fab fa-github" style="font-size: 2rem; color: #000;"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
                            title="View my LinkedIn profile">
                            <i class="fab fa-linkedin" style="font-size: 2rem; color: #0077b5;"></i>
                        </a>
                    </li>

                    <li class="list-inline-item mx-auto">
                        <a class="nav-link" href="https://twitter.com/{{ site.twitter_username }}" title="Tweet at me">
                            <i class="fab fa-twitter" style="font-size: 2rem; color: #55acee;"></i>
                        </a>
                    </li>

                    <li class="list-inline-item mx-auto">
                        <a class="nav-link" href="mailto:aditya@adityawagh.ml" title="Email Me">
                            <i class="fas fa-at" style="font-size: 2rem;"></i>
                        </a>
                    </li>
                </ul>
            </figcaption>
        </figure>
    </div>
    <div class="col-sm">
        I am an engineer, and I got my B.E. in Electronics and Instrumentation from
        Birla Institute Of Technology & Sciences,
        Pilani - <b>BITS Pilani</b> in 2019. I had a chance to work at the
        <a href="https://www.ceeri.res.in/departments/cyber-physical-systems/cognitive-computing/">Cognitive Computing Group</a>
        at CSIR - Central Electronics Engineering Research Institute (CEERI), Pilani under the guidance
        of <a href="https://www.ceeri.res.in/profiles/sumeet-saurav/">Mr. Sumeet Saurav</a>
        during my final year of undergraduate studies.<br>
        <br>I am interested in the applications of machine learning to computer vision and control
            systems.</b> I am particularly interested in
        developing intelligent autonomous systems. To get a better insight on my
        work and academics so far, you can have a look at my
        <!-- Display only on small devices - xs, sm, md --><a class="d-inline-block d-lg-none"
            href="{{ site.resume_link}}"">CV</a>
    <!-- Display only on big devices lg, xl --><a class=" d-none d-lg-inline-block"
            href="{{ site.baseurl }}/cv.html">CV</a>
        <br><br> When I am not working, I spend my time watching science fiction movies
        and TV shows, and often play multiplayer video games.
        I have a strong curiosity to know the reason behind things, about how they are done, and why they are done
        they way they are.

    </div>
</div>