--- 
--- 
@charset "utf-8";
@import "bootstrap/bootstrap";

$base-font-family:SegoeUI,
sans-serif;
$title-font-family:SegoeUI,
sans-serif;
$base-font-size :16px !important;
$code-font-family:Mononoki,
monospace !important;
$small-font-size       :$base-font-size - 2;
$base-line-height      :1.35 !important;
$base-letter-spacing   :0 !important;
$spacing-unit          :2em;
$title-color           :#000000;
$text-color            :#000000;
$dark-text-color       :#ffffff;
$light-text-color      :#000000;
$background-color      :#fdfdfd;
$dark-background-color :#202124;
$light-background-color:#f4f1ed;
$blue-color            :#2a7ae2;
$blue-color-dark       :#205caa;
$blue-color-light      :#2a7ae2;
$grey-color            :#828282;
$grey-color-light      :lighten($grey-color, 40%);
$grey-color-dark       :darken($grey-color, 25%);
$code-background-color :#f8f8f8 !default;
$table-text-align      :left !default;
$table-text-color      :lighten($text-color, 18%) !default;
$table-zebra-color     :lighten($blue-color, 46%) !default;
$table-header-bg-color :lighten($blue-color, 43%) !default;
$table-header-border   :lighten($blue-color, 36%) !default;
$table-border-color    :$grey-color-light !default;
$content-width         :950px;
$on-palm               :600px;
$on-laptop             :950px;

@mixin media-query($device) {
    @media screen and (max-width:$device) {
        @content
    }
}

@mixin rounded($radius:4px) {
    -webkit-border-radius: $radius;
    -moz-border-radius   : $radius;
    border-radius        : $radius;
}

@import "base", "image", "syntax-highlighting", "table";